<section>
  <div class="app-body">
    <main class="main">
      <!-- <div class="logo">
              <img src="assets/images/deh.jpg" alt="deh logo">
            </div> -->
      <div class="set-page col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="form">
          <form class="set-form" autocomplete="off" #setPasswordForm="ngForm">
            <div class="col-md-12 topbar">
              <p class="mb-0 password">Set Password</p>
            </div>

            <div class="mb-3">
              <label class="mb-1" for="newPassword">New Password</label>
              <input (keyup)="passwordCheck()" type="password" class=" mb-1" name="newPassword" [(ngModel)]="model.newPassword" #myControl="ngModel"
                [ngClass]="{ 'is-invalid': myControl.invalid && (myControl.dirty || myControl.touched) }" 
                pattern="(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[*@_$#!%^&]).([a-zA-Z0-9*@_$#!%^&]{5,19})$" required 
              />

              <div *ngIf="myControl.invalid && (myControl.dirty || myControl.touched)" class="invalid-feedback">
                <div *ngIf="myControl?.errors?.required">New Password is required</div>
                <div *ngIf="myControl?.errors?.pattern">Password must have 6-20 characters. This includes at least 1 uppercase,1 lowercase, 1 numeric and 1 special
                  character from !@#$%^&*</div>
              </div>
            </div>
            <div class="mb-4">
              <label class="mb-1" for="confirmPassword">Confirm Password</label>
              <input (keyup)="passwordCheck()" type="password" class=" mb-1" name="confirmPassword" 
                [(ngModel)]="model.confirmPassword" #confirmpasswordmyControl="ngModel" [ngClass]="{ 'is-invalid':  confirmpasswordmyControl.invalid && (confirmpasswordmyControl.dirty || confirmpasswordmyControl.touched)}"
                required />

              <div *ngIf="confirmpasswordmyControl.invalid && (confirmpasswordmyControl.dirty || confirmpasswordmyControl.touched)" class="invalid-feedback">
                <div *ngIf="confirmpasswordmyControl?.errors?.required">Confirm Password is required</div>
              </div>
              <div  class="PasswordNotMatch" *ngIf="!passwordMatch" class="text-danger">Password do not match!</div>

            </div>

            <div class="text-center row">
              <div class="col-md-12">
                <button type="button" class="" (click)="setPassword(setPasswordForm)" >Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</section>
