<section>
  <div class="app-body">
    <main class="main">
      <!-- <div class="logo">
        <img src="assets/images/deh.jpg" alt="deh logo">
      </div> -->
      <div class="reset-page col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="form">
          <form class="reset-form " autocomplete="off">
            <div class="col-md-12 topbar">
              <p class="mb-0 password">{{'resetPassword.title' | translate}}</p>
            </div>

            <div class="mb-5 mt-4 alert alert-success">
                {{'resetPassword.r.success' | translate}}
            </div>

            <div class="text-center row">
              <div class="col-md-12">
                <button type="button" class="" routerLink="/home"> {{'resetPassword.button.name' | translate}}</button>
              </div>
              <span class="clear"></span>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</section>
