<section>
  <div class="app-body">
    <main class="main">
      <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 forgot-page">
        <div class="form" *ngIf="!otpSend">
          <form class="forgot-form" autocomplete="off" #forgotPassword="ngForm">
            <div class="col-md-12 topbar">
              <p class="mb-0 password">{{'forgotPassword.title' | translate}}</p>
            </div>

            <div *ngIf="gotMsg" class="alert alert-success">
                {{this.msg}}
            </div>
            <div class="pb-3">
              <label class="mb-1" for="username">{{'forgotPassword.username' | translate}}</label>
              <input type="text" autocomplete="off" id="username" [(ngModel)]="model.username" name="username" #username="ngModel" required/>
              <div *ngIf="validMsg">
                <small class="text-danger">Please enter valid username</small>
              </div>
            </div>
            <div class="text-center row">
              <div class="col-md-12">
                <button type="button" class="forgotPasswordBtn" (click)="sendOtp(forgotPassword)">{{'forgotPassword.button.name' | translate}}</button>
              </div>
              <span class="clear"></span>
            </div>
            <div class="text-center mt-3">
              <small>
                  {{'forgotPassword.f.backToLoginMsg' | translate}}?
                <span class="text-danger backToLogin" routerLink="/home"> {{'forgotPassword.f.backToLoginText' | translate}}</span>
              </small>
            </div>
          </form>
        </div>

 
      </div>
    </main>
  </div>
</section>

<ngx-spinner bdColor="#57577d9e" size="default" color="#ffeb3b" bdOpacity = 0.9  fullScreen = "true" color = "#ffeb3b" type="ball-spin-clockwise"></ngx-spinner>