

.forgot-page {
  margin-top: 115px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.password {
  font-size: 24px;
}

.form {
  padding: 45px;
  box-shadow: 0 0 50px 0px #98a6c2;
  background: #ffffff;
}

.form input {
  outline: 0;
  background: #e5e8ef;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  font-size: 13px;
}

.forgotPasswordBtn{
  text-transform: uppercase;
  outline: 0;
  background: rgb(227, 24, 19);
  width: 150px !important;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 13px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(227, 24, 19);
  width: inherit;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 13px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #f17474;
}

.clear {
  clear: both;
}

label {
  color: #585858;
}


.topbar {
  background: rgb(227, 24, 19);
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  margin: -65px 0 20px 0;
}

.backToLogin {
  cursor: pointer;
  outline: none;
}

.backToLogin:hover {
  text-decoration: underline;
}

/* media query */

/* media query */

@media screen and (max-width:500px) {
  /* .app-body {
    width: auto;
  } */
  /* .forgot-page {
    width: 100%;
  } */
}

@media screen and (min-width:1400px) {
  .forgot-page {
    margin-top: 150px;
  }
}

@media screen and (min-width:1025px) and (max-width:1450px) {}
