

.splash-page {
  width: 100%;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.splash-Div {
  padding: 0px 150px;
}

.splash-Div button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(227, 24, 19);
  width: 150px;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 13px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.splash-Div button:hover,
.splash-Div button:active,
.splash-Div button:focus {
  background: #f17474;
}

.splash-Div .message {
  margin: 0px 0px 30px;
  text-align: right;
  color: #b3b3b3;
  font-size: 12px;
}

.splash-Div .message:hover {
  text-decoration: underline;
}

.splash-Div .message a {
  color: rgb(227, 24, 19);
  text-decoration: none;
}

.preferenceicon {
  font-size: 24px;
  color: #272727;
  cursor: pointer;
  padding-left: 80px;
  vertical-align: middle;
}

.clear {
  clear: both;
}

label {
  color: rgb(0, 0, 0);
}


.languageToggle{
  position: absolute;
  display: inline-block;
  z-index: 99999;
  top: 20px;
  right: 55px;
}




/* media query */

@media screen and (max-width:767px) {
  h1 {
    margin-top: 25px;
    font-size: 28px;
  }
  h5 {
    font-size: 18px;
  }
  .login-page {
    width: 100%;
    padding: 22% 25px 0;
  }
}

@media screen and (max-width:1080px) {
  .splash-Div {
    padding: 0px 100px;
  }
}

@media screen and (min-width:1400px) {
  .splash-page {
    margin-top: 130px;
  }
}

@media screen and (max-width: 500px) {
  .splash-Div {
    padding: 0px 40px;
  }
  .disclaimer {
    font-size: 16px;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .title {
    font-size: 30px;
  }
  .disclaimer {
    font-size: 18px;
  }
}

.autoUpdateModal{
  position: fixed;
  right: 5%;
  bottom: 10%  ;
  z-index: 999999 !important;
  width: 25%;
  animation: floatText 2s ease-in-out;
}

.updatePopup{
  background: rgba(228, 228, 228, 0.2);
  padding: 15px;
  border: 2px solid rgb(124, 124, 124);
  color: rgb(227, 24, 19);
  border-radius: 10px;
  background-clip: padding-box;
  text-align: center;
  font-size: 18px;
}

@-webkit-keyframes floatText{
  from {
    right: 00%;
    opacity: 0;
  }

  to {
    /* left: auto; */
    right: 5%;
    opacity: 1;
  }
}